.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.classErrorInput{
  border: solid 2px red;
   border-radius: 3px;

}

.complitedCheckbox{
    opacity: 0.5;
}

.activeButton{
    background-color: darkgray;
    border: dimgray 2px solid;
}
